/*--colors--*/
.color-pallete{
    color:#454545;
    color:#743455;
    color:#a22365;
    color:#d11174;
    color:#ff0084;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:#454545;
}

.navbar-brand img{
    max-width: 25%;
}

.header-page{
    background-color: #d90368;
    color:aliceblue;
}

.header-page span{
    color: aliceblue;
    font-weight: bolder;
    font-size: 2em;
}

.btn-card{
    background-color: #454545;
    color: aliceblue;
}

.card{
    margin-left: 5px;
    margin-right: 2.5px;
}

.card h5{
    color: #d90368;
}

.card-img-top{
    height: 150px;
    object-fit: cover;
}

footer{
    background-color: #a22365;
}

footer h3, i{
    color: aliceblue;
}

footer i{
    font-size: 150%;
    margin: 0.5rem;
}